<div class="my-account">
  <div class="header-title" style="background-color: darkgrey;">
    <div class="container" id="mainDIV">
      <div class="title">
        <h2>My Account</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Aenean commodo ligula eget dolor</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">

        <h2 class="my-4"> Login</h2>
        <form [formGroup]="loginUser" (ngSubmit)="login(loginUser)">

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input formControlName="email" type="email" class="form-control">
            <div
              *ngIf="loginUser.get('email').invalid && (loginUser.get('email').touched) || loginUser.get('email').dirty ">
              <div *ngIf="loginUser.get('email').getError('required')"> this fild is reqired </div>
              <div *ngIf="loginUser.get('email').getError('email')"> this fild shoulde be email adresse </div>
            </div>  </div>
          <div class="form-group">
         
            <label for="exampleInputPassword1">Password</label>
            <input formControlName="password" type="password" class="form-control">
            <div
              *ngIf="loginUser.get('password').invalid && (loginUser.get('password').touched) || loginUser.get('password').dirty ">
              <div *ngIf="loginUser.get('password').getError('required')"> this fild is reqired </div>
              <div *ngIf="loginUser.get('password').getError('password')"> this fild shoulde be email 
                password </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          <p> {{ loginUser.value | json }}</p>
        </form>


      </div>



      <div class="col-sm-6 ">
        <h2 class="my-4"> Register</h2>
        <form (ngSubmit)="login(loginUser)" class="my-4">

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input ngModel name="email" type="email" class="form-control">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input ngModel name="password" type="password" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>
    </div>
  </div>