<div class="product-section">
  <div class="product-wrap sec-padding">
    <div class="container">
      <div class="head-title">
        <h3>Our Products</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br>been the
          industry's standard dummy text ever since the 1200s,</p>
      </div>
      <div class="prod-menu">
        <ul fxLayout="row" fxLayoutAlign="space-around center">
          <li fxLayout="column" (click)="filterProducts('all')">
            <div class="text">
              <p>Show all</p>
            </div>
          </li>

          <li fxLayout="column" (click)="filterProducts('info')">
            <div class="text">
              <p>vêtements</p>
            </div>
          </li>
          <li fxLayout="column" (click)="filterProducts('Ventes de matériel informatique')">
           
            <div class="text">
              <p>Ventes de matériel informatique</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="product-wrapper">

        <div class="product-box" *ngFor="let product of products | slice:0:8">
          <div class="product-item">

            <mat-card fxLayout="column">
              <div class="product-img" [routerLink]="['/home/product', product.id]">
                <a class="product-link">
                  <img [src]="product.pictures[0]" alt="">
                </a>
              </div>
              <div class="product-info-wrapper">
                <span class="category"></span>
                <div class="title-wrap" fxLayout="row" fxLayoutAlign="space-between center">
                  <h4 [routerLink]="['/home/fruit, fruit.id']">{{product.name}}</h4>
                  <p>{{product.price}}DH</p>
                </div>

                <div class="stars" fxLayout="row">
                  <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                  <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                  <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                  <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                  <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                </div>


                <div class="btn-wrap" fxLayout="row" fxLayoutAlign="space-between center">
                  <p (click)="showMore(product)" class="view-more"> View {{ product.state === 'small' ? 'more' :
                    'less'}}</p>
                  <div class="bucket">
                    <a (click)="addToCart(product)">
                      <mat-icon color="primary" class="mat-icon-lg mat-icon material-icons">shopping_cart</mat-icon>
                    </a>

                  </div>

                </div>
                <div class="details-products">
                  <div class="more-info" [@myAnimation]="product.state">
                    <p>{{product.shortDetails}}</p>
                  </div>
                </div>
                <div class="icons" fxLayout="column">
                  <a (click)="addToWishlist(product)" class="ic-1">
                    <mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon>
                  </a>
                  <a (click)="openProductDialog(product)" class="ic-2">
                    <mat-icon>remove_red_eye</mat-icon>
                  </a>

                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>