<div class="main-slider">
    <div class="swiper-container h-100" [swiper]="config"  >
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-color: darkgrey;" >

                <div  class="slide-item swiper-lazy">
                  <div class="container sl-wrap" >

                      <div fxLayout="column" fxLayoutAlign="center left" class="content" >
                        <h1>Site e-commerce </h1>
                        <p> Project Java Spring with angular </p>
                        <button mat-raised-button  color="primary">See more</button>
                      </div>
                  </div>

                </div>


        </div>
      </div>
    </div>
  </div>
